<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <title>URL Shortener Microservice</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>
        <span class="primary">Url-shortener</span>
        <span class="secondary">Microservice</span>
      </h1>
    </header>

    <hr class="divider" />

    <main>
      <h2>Create short URL</h2>

      <form action="api/shorturl/new" method="POST">
        <input type="text" name="url" placeholder="Enter URL to shorten..." value="https://www.freecodecamp.org" />
        <input type="submit" value="Shorten" />
      </form>

      <hr class="divider" />

      <h2>Usage</h2>

      <!-- BASE URL -->
      <div class="example">
        This example link
        <pre>
          <a href="">https://localhost/api/shorturl/2</a>
        </pre>
      </div>

      <!-- VALID DATE -->
      <div class="example">
        Will redirect to
        <pre>
          <a href="">https://www.freecodecamp.org</a>
        </pre>
      </div>
    </main>

    <footer>
      by <a href="https://github.com/sitek94">Maciek Sitkowski</a> 2021
    </footer>
  </div>
</body>

</html>