<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <title>URL Shortener Microservice</title>
</head>

<body>
  <header>
    <h1>
      <span>URL</span><span class="primary-color">Shortener</span><wbr><span>Microservice</span>
    </h1>
  </header>

  <main>
    <section>
      <h2>Create short URL</h2>
      <pre>
        <span class="key">POST</span> /api/shorturl/new
      </pre>
      <form action="api/shorturl/new" method="POST">
        <div class="form-control">
          <label for="url">Url to shorten</label>
          <input id="url" type="text" name="url" placeholder="Enter URL to shorten..."
            value="https://www.freecodecamp.org" />
        </div>
        <button class="btn" type="submit">Shorten</button>
      </form>
    </section>

    <section>
      <h2>Use short URL</h2>
      <pre>
        <span class="key">GET</span> /api/shorturl/:short_url
      </pre>

      <label for="short-url-example-link">This:</label>
      <pre>
        <a id="short-url-example-link" class="link" href="api/shorturl/1">/api/shorturl/1</a>
      </pre>
      <label>Will redirect to:</label>
      <pre>
        <a class="link" href="https://macieksitkowski.com">https://macieksitkowski.com</a>
      </pre>

    </section>
  </main>

  <footer>
    <a class="link" href="https://github.com/sitek94">Maciek Sitkowski</a> 2021
  </footer>
</body>

</html>