:root {
  --primary-color: #0db959;
  --primary-color-rgb: 13, 185, 89;
  --primary-color-light: #5af8a0;

  --border-radius: 4px;
  --gutter: 40px;
}

@media (max-width: 950px) {
  :root {
    --gutter: 20px;
  }
}

@media (max-width: 550px) {
  :root {
    --gutter: 0;
  }
}

::selection {
  color: white;
  background-color: var(--primary-color);
}

/* ==================== */
/* RESET */
/* ==================== */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ==================== */
/* BODY */
/* ==================== */
body {
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  background-color: #222;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* ==================== */
/* HEADER */
/* ==================== */
header {
  text-align: center;
  margin-bottom: var(--gutter);
}

header h1 {
  font-weight: 700;
  font-size: 3em;
}

header h1 .primary-color {
  color: var(--primary-color);
}

@media (max-width: 400px) {
  header h1 {
    font-size: 2.5rem;
  }
}

/* ==================== */
/* MAIN */
/* ==================== */
main {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gutter);
  margin-bottom: var(--gutter);
}

@media (max-width: 875px) {
  main {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
}

@media (max-width: 550px) {
  main {
    gap: 0;
    width: 100%;
  }
}

/* ==================== */
/* SECTION */
/* ==================== */
section {
  width: 400px;
  border: 3px solid var(--primary-color);
  border-radius: var(--border-radius);
  padding: 40px;
}

section h2 {
  margin: 0 0 16px;
}

@media (max-width: 875px) {
  section {
    flex: 0;
  }
}

@media (max-width: 550px) {
  section {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 20px;
  }

  section:not(:first-child) {
    border-top: 0;
  }
}

@media (max-width: 400px) {
  section h2 {
    text-align: center;
  }
}

/* ==================== */
/* CODE SNIPPET */
/* ==================== */
pre {
  padding: 16px;
  white-space: pre-line;
  background-color: #333;
  border-radius: var(--border-radius);
  line-height: 1.5;
}

pre:not(:last-child) {
  margin: 0 0 16px;
}

@media (max-width: 400px) {
  pre {
    width: 100%;
    border-radius: 0;
  }
}

pre span.key {
  color: var(--primary-color-light);
}

code {
  padding: 4px;
  line-height: 1.5;
  background-color: #333;
}

/* ==================== */
/* FOOTER */
/* ==================== */
footer {
  font-size: 14px;
  padding: 20px;
}

/* ==================== */
/* FORM */
/* ==================== */
form {
  margin-top: 20px;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
}

/* TEXT INPUT */
input[type='text'] {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 16px;
  color: white;
  background-color: #3c3c3c;
  outline: 0;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  transition: all 300ms;
}
input[type='text']:hover {
  border: 2px solid #ccc;
}
input[type='text']:focus {
  border: 2px solid var(--primary-color);
}

/* ==================== */
/* BUTTON */
/* ==================== */
.btn {
  display: block;
  cursor: pointer;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  outline: 0;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;
  transition: background-color 300ms;
}
.btn:hover,
.btn:focus {
  background-color: rgba(var(--primary-color-rgb), 0.75);
}

/* ==================== */
/* LINK */
/* ==================== */
a {
  text-decoration: none;
}

.link:link,
.link:visited {
  color: white;
  text-decoration: none;
  transition: all 300ms;
}
.link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* ==================== */
/* 404: NOT FOUND */
/* ==================== */
.not-found {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found h1 {
  font-size: 8rem;
  margin: 0;
}
.not-found h2 {
  margin: 0 0 20px;
  font-size: 3.5rem;
}
