* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
  background-color: #222;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

:root {
  --primary-color: cornflowerblue;
  --primary-color-rgb: 100, 149, 237;
}

.container {
  max-width: 500px;
}

/* TITLE */
h1 .primary {
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
}
h1 .secondary {
  text-align: right;
  color: var(--primary-color);
}

h2 {
  font-weight: 500;
}

header {
  margin-bottom: 50px;
}

main {
  margin-bottom: 50px;
}

footer {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.divider {
  margin: 40px 0;
}

form {
  display: flex;
  flex-wrap: wrap;
}

label {
  width: 100%;
  
}

input[type='text'] {
  flex: 1;
  margin-right: 10px;
  border: 0;
  color: #fff;
  background-color: #333;
  font-size: 16px;
  padding: 12px 20px;
}

input[type='submit'] {
  cursor: pointer;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 20px;
  color: #fff;
  background-color: var(--primary-color);
}
input[type='submit']:hover {
  background-color: rgba(var(--primary-color-rgb), 0.7);
}

/* EXAMPLE CONTAINER */
.example {
  margin-top: 25px;
}

/* Code snippet */
pre {
  color: var(--primary-color);
  background-color: #333;
  padding: 16px;
  tab-size: 2;
  width: 100%;
  overflow-x: auto;
  white-space: inherit;
}
pre a:link,
pre a:visited {
  color: var(--primary-color);
}

/* LINK */
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
